<div class="back-link">
<%= link_to "<--", root_path %>
</div>
<div class="add-new-group-section"
  <h1>Add New Group</h1>
  <%= form_with model: @group, url: user_groups_path(user_id: params["user_id"]) , local: true do |f| %>

  <div class="form-input-fields">
    <div>
      <%= f.label :name %> <br>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :icon %><br>
      <%= f.text_field :icon %>
    </div>

    </br>

    <%= f.submit %> <br>
  </div>

  <% end %>
</div>
