<div class="back-link">
<%= link_to "<", root_path %>
</div>

<div class="groups-show">


<div class="group-show-title">
<%= image_tag(@group[0][1], {:style => "width:7.5rem;"}) %>
<h1><%= @group[0][0] %></h1>
</div>

<div class="add-new-payment">
<%= button_to "+ Add New Payment", new_user_group_payment_path(user_id: params["user_id"], group_id: params["id"]), method: :get %>
</div>


<div class="group-show-table">
<table class="table table-sm table-striped table-bordered border-dark " id="group-show-bt-table">
<tr>
  <th> Name </th>
  <th> Amount </th>
  <th> Created Date </th>
</tr>

<% @payments_each_group_each_user.each do |payment| %>
    <tr>
      <td><%=payment.name %></td>
      <td><%=payment.amount %></td>
      <td><%= payment.created_at.localtime.strftime("%B %d, %Y %l:%M %p %Z") %></td>
    </tr>

<% end %>
</table>

</div>
